
input[type=text], input[type=email], select, textarea {
    width: 100%;
}

form {
    font-size: 25px;
}

.form-title {
    text-align: center;
    width: fit-content;
    margin: auto;
    background-color: rgba(0, 128, 0, 0.411);
}


.form-container {
    margin: 4em 40% 4em 4em;
    padding: 4em;
    border-radius: 4px 4px 4px 4px;
    background-color: lightgray;
}