
input[type=text], input[type=email], select, textarea {
    width: 100%;
}

form {
    font-size: 25px;
}

.form-title {
    text-align: center;
    width: fit-content;
    border-radius: 20px;
    margin: auto;
    background-color:rgba(84, 84, 233, 0.171);
}


.form-container {
    margin: 4em 55% 4em 4em;
    padding: 4em;
    border-radius: 4em;
    background-color: lightgray;
    box-shadow: 0 0 10px black;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.562);
}

.images {
    float: right;
    margin-right: 9em;
}


.button {
    border-radius: 4px;
    border: none;
    text-align: center;
    font-size: 30px;

    transition: 0.3s ease;
}

.button:hover {
    background-color: rgba(47, 47, 194, 0.281);
}

.button:active {
    background-color: rgba(84, 84, 233, 0.733);
}