.work-row-one {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

.work-card-one {
    text-align: center;
    font-size: 15px;
    
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: 2em;

    max-width: 450px;
    min-width: 100px;
    width: 100%;

    max-height: 700px;
    min-height: 100px;
    height: 100%;

    padding-bottom: 1em;
    

    border-radius: 1em 1em 1em 1em;
    box-shadow: 0 0 10px black;
}

#work-image-one {
    max-width: 450px;
    min-width: 100px;
    width: 100%;

    max-height: 250px;
    min-height: 100px;
    height: 100%;

    border-radius: 1em 1em 0 0;
    object-fit: cover;
    overflow: hidden;
}

@media screen and (max-width: 992px) {
    .work-row-one {
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    .work-card-one {
        max-height: 1000px;
    }

    

}